#!/bin/bash

export MC_VERSION="1.16.5"
export FORGE_VERSION="36.1.0"
export RCON_CLI_VERSION="1.4.8"

export SERVER_MEM_SIZE="3G"
export SERVER_PORT=25565

export AUTOSHUTDOWN_LOOP_SLEEP=10
export AUTOSHUTDOWN_TIMEOUT_INIT=300
export AUTOSHUTDOWN_TIMEOUT_EST=300

export DNS_ZONE="example"
export DOMAIN_NAME="mcs.example.com."
export DOMAIN_TTL=60
export GCLOUD_PROJECT="default-12345"
export COMPUTE_REGION="europe-west1"
export COMPUTE_ZONE="europe-west1-b"
export COMPUTE_VM_NAME="mcs"
export COMPUTE_VM_TYPE="e2-medium"
export COMPUTE_VM_DISK_TYPE="pd-ssd"
export COMPUTE_VM_IMAGE="projects/ubuntu-os-cloud/global/images/ubuntu-minimal-2004-focal-v20210720"
export COMPUTE_VM_SERVICE_ACCOUNT="12345-compute@developer.gserviceaccount.com"

export BACKUP_ZIP_URL="http://cdn.example.com/backup.zip"
export MODS_ZIP_URL="http://cdn.example.com/mods.zip"
export WORLD_ZIP_URL="http://cdn.example.com/world.zip"
export CONFIG_ZIP_URL="http://cdn.example.com/config.zip"

export SERVER_NAME="Powered by Raisen"
export MOTD="Have fun!"
export SEED="Raisen"
export ONLINE_MODE="false"
